body {
    margin: 0;
    background-color: #1b263b;
    text-decoration: none;
    color:#F8F9FB;
    font-family: Open Sans, sans-serif;
}

a {
    text-decoration: none;
    color:#F8F9FB;
    font-family: Open Sans, sans-serif;
    margin: 0;
}

a:hover {
    color: #C4C4C4;
}

nav {
    flex-grow: 1;
}

.navbar {
    position: sticky;
    background-color:#0d1b2a;
    height: 65px;
}

.nav-container {
    display: flex;
    width: 80%;
    height: 65px;
    margin: auto;
    justify-content: space-between;
    align-items: center;
}

.logo {
    flex-grow: 0;
}

.logo_title {
    flex-grow: 4;
    padding-left: 35px
}

.logo_title p{
    text-decoration: none;
    color:#F8F9FB;
    font-family: Open Sans, sans-serif;
    font-weight: bold;
}

.home-container {
    width: 80%;
    margin: auto;
    display: flex;
    padding-top: 200px;
}

.home-text {
    display: inline-block;
    width: 60%;
}

.ComputerImg {
    width: 40%;
}

.portfolio-btn {
    padding: 10px 30px;
    background-color: #778da9;
}

.Page-Header {
    text-align: center;
    padding: 75px;
}

.project-container {
    width: 80%;
    margin: auto;
    display: flex;
    padding-bottom: 200px;
}

.project-text {
    margin: 140px 0;
    width: 45%;
}

.project-imageA {
    width: 45%;
    margin-left: 10%;
}

.project-imageA img {
    width: 100%;
}

.project-imageB {
    width: 45%;
    padding-right: 10%;
}

.project-imageB img {
    width: 100%;
}

.icon-container {
    display: flex;
    width: 70%;
    margin: auto;
    justify-content: space-between;
}

.icon img {
    width: 100px;
}

.icon p {
    text-align: center;
}

.about-container {
    width: 70%;
    margin: auto;
    display: flex;
    padding-top: 100px;
    padding-bottom: 100px;
}

.about-text {
    margin: 140px 0;
    width: 45%;
}

.resume-btn {
    padding: 10px 30px;
    background-color: #778da9;
}

.profile-pic {
    width: 450px;
    padding-left: 10%;
}

.skills-container {
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 200px;
}

.skills-box {
    padding: 20px 30px;
    background-color: #778da9;
    border-style: solid;
    border-color: #e0e1dd;
    border-width: 10px;
}

.skills-list {
    list-style-type: none;
    padding-left: 0;
}

.contact-container {
    text-align: center;
    margin: auto;
    width: 60%;
    background-color: #415a77;
}

.contact-container h3 {
    padding: 30px 0;
}

label {
    display: block;
    padding-bottom: 15px;
}

.contact-input {
    width: 500px;
    height: 40px;
    font-size: x-large;
}

.contact-textarea {
    width: 500px;
    height: 200px;
    font-size: x-large;
}

.submit-button {
    background-color: #778da9;
    font-family: Open Sans, sans-serif;
    font-weight: bold;
    font-size: 0.875rem;
    margin: 0;
    color:#000000;
    height: 27px;
}

.reset-button{
    background-color: #778da9;
    font-family: Open Sans, sans-serif;
    font-weight: bold;
    font-size: 0.875rem;
    margin: 10px 0 20px 25px;
    color:#000000;
    height: 27px;
}

.footer {
    width: 100vw;
    background-color: #595959;
    position: absolute;
    bottom: 0;
    text-align: center;
    height: 40px;
}

.footer-text {
    position: relative;
    top: 30%;
    font-size: 0.75rem;
}

.colorpal {
    background-color:#0d1b2a;
    background-color:#1b263b;
    background-color:#415a77;
    background-color:#778da9;
    background-color:#e0e1dd;
}